@font-face {
    font-family: "Ibm Plex Mono";
    src: url(assets/ibm-plex-mono.woff2), url(assets/ibm-plex-mono.woff);
}

@font-face {
    font-family: "Young Serif";
    src: url(assets/youngserif.woff2), url(assets/youngserif.woff);
}

body {
    width:650px;
    margin: 40px auto 40px auto;
    font-family: "Ibm Plex Mono";
    font-size: 16px;
    line-height: 1.6;
    color: #2a2a2a;
}

h1 {}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100vh;
    background-color: #00b98d;
    color:#ffffff;

    font-family: "Young Serif";
    font-size: 24px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: #ffffff;
    margin: 5px 32px 5px 32px;
}
